{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]><html class="lt-ie9 lt-ie8 lt-ie7" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en"><![endif]-->
<!--[if IE 7]><html class="lt-ie9 lt-ie8" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en"><![endif]-->
<!--[if IE 8]><html class="lt-ie9" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html xmlns="http://www.w3.org/1999/xhtml"><!--<![endif]-->
<html>
<head>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>potpaladrvocumur </title>

  <link rel="stylesheet" href="{% static 'css/normalize.css' %}" />
  <link rel="stylesheet" href="{% static 'css/foundation.min.css' %}" />
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <link rel="stylesheet" href="{% static 'css/ie.css' %}" />
  <link href='http://fonts.googleapis.com/css?family=Noto+Sans:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Cabin+Condensed:600' rel='stylesheet' type='text/css'>

  <script src="{% static 'js/vendor/custom.modernizr.js' %}"></script>
</head>
<body data-post="http://www.egrappler.com/retina-ready-responsive-app-landing-page-website-template-app-landing/">
<div id="top"  data-magellan-expedition="fixed">
	<div class="row">
		<div class="large-12 columns">
			<nav class="top-bar">
			  <ul class="title-area">
			   <li class="name logo">
			      <a href="#"><img src="{% static 'img/logo.png' %}"  alt=""></a>
			    </li>
			    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
			  </ul>
			
			  <section class="top-bar-section">
			    <ul class="right" id="menu">
					
			      <li data-magellan-arrival="features"><a href="#features">Početna</a></li>
			      <li data-magellan-arrival="product"><a href="#product">Proizvodi</a></li>
				  <li data-magellan-arrival="contact"><a href="#contact">Kontakt</a></li>
				  <li class="create" ><a href="{% url 'create' %}" class="button">Zatraži ponudu</a></li>


			    </ul>
			  </section>
			</nav>
		</div>
	</div>
</div>

<header id="header" >
	<div class="row">
    
    	<div class="large-6 columns">
			<div id="teaser-slider-2">
							<div class="flexslider">
								<ul class="slides">
									<li>
										<img src="{% static 'img/slides/iphoneshots-1.jpg' %}" alt="Petrichor - slider">
									</li>
									<li>
										<img src="{% static 'img/slides/iphoneshots-2.jpg' %}" alt="Petrichor - slider">
									</li>
									<li>
										<img src="{% static 'img/slides/iphoneshots.jpg' %}" alt="Petrichor - slider">
									</li>
								</ul>
							</div> 
						</div>
		</div>
        
		<div class="large-6 columns">
			<hr>
			<h1>Prodaja potpale, drveta i ćumura sa dostavom.</h1>
			<span class="subheading"></span>
	   
		</div>
		
	</div>
	
</header>
<div id="features" class="section features" data-magellan-destination="features">

	</div>

<div id="product" class="section product gray" data-magellan-destination="product">
	<div class="row">
		<div class="large-12 columns">
			<center></center>
			<hr>
			<center><h4>Za pravo i iskreno druženje sa prijateljima uz roštilj i voljenom
				osobom uz kamin ali i uspešan rad svih onih koji radni dan počinju sa
				vatrom: restorani, picerije, pekare, fast food - grill, pečenjare,
				prepustite nama da umesto vas zapalimo vatru i održimo je,
				
				Zatraži ponudu i mi ćemo te kontaktirati i u dogovoru sa tobom ti što
				pre dostaviti na željenoj lokaciji sve što ti je potrebno da uspešno
				iz prve zapališ vatru i održiš je.</h1>
				<hr>
				
			<h2>Naši proizvodi</h4>
			<hr>
		<span class="subheading">Trenutno u ponudi imamo:</span></center>
		<img src="{% static 'img/Items.png' %}" alt="items" align="left">
		

		<div class="row">
			<div class="com-md">
				<div class="card card-body">
					<table class="table table-sm", name="tabela", align="right">
		<tr>
		<th>Ime</th>
		<th>Opis</th>
		<th>Cena</th>
		<th>Lager</th>
		
		
		
		
		
		</tr>
		<!-- Showing user tickets -->
		{% for i in context %}
		<tr>
			<td>{{i.ime}}</td>
			<td>{{i.opis}}</td>
			<td>{{i.cena}}</td>
			<td>{{i.lager}}</td>
		
			{% endfor %}
		
		
					</tr>
				 </table>
			   </div>
			</div>
		</div>
		
		
		
		
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="screenshot" class="section screenshot">
	<div class="row">
		<div class="large-12 columns"></div>
			<h2></h2>
			<span class="subheading">

</span>
	
			
				
  			</ul>
		</div>
	</div>
</div>
<div id="pricing-table" class="section pricing gray" data-magellan-destination="pricing">
	<div class="row">
		<div class="large-12 quotes columns">
			<ul id="quotes1" data-orbit>
			  <li class="quote" data-orbit-slide="headline-1">
			  	<blockquote>Odlična usluga, mogućnost dostave.</blockquote>
				<span class="author">Restoran Plavi Cvet</span>
			  </li>
			  <li class="quote" data-orbit-slide="headline-2">
			  	<blockquote>Jednostavno i korisno.</blockquote>
				<span class="author">Marija Stefanović</span>
			  </li>
			  <li class="quote" data-orbit-slide="headline-3">
			  	<blockquote>Odlično za restorane</blockquote>
				<span class="author">Luka Petrović</span>
			  </li>
			</ul>
			<p align="left"> POTPALA DRVO ĆUMUR DOO,</p>
			<p align="left">Bavaništanski put 100 E,</p>
				<p align="left"> 26 101 Pančevo</p>
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2827.5933650880443!2d20.689963315091767!3d44.87057237909838!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475a7f0cf1828e81%3A0x896506e3b1495dab!2z0JHQsNCy0LDQvdC40YjRgtCw0L3RgdC60Lgg0L_Rg9GCIDEwMCwg0J_QsNC90YfQtdCy0L4!5e0!3m2!1ssr!2srs!4v1600784141980!5m2!1ssr!2srs" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
			

			

			</p>
		</div>
	</div>
	
	
	</div>
</div>

<div id="contact"  class="section contact gray" data-magellan-destination="contact">
	
    <div class="row">
		<div class="large-12 columns">
			<h2>Kontakt forma</h2>
			<center>
			
				
				<p> telefon: 063 1629 699
				<p>e-mail: potpaladrvocumur@gmail.com
				<p>web sajt: www.potpaladrvocumur.rs</p></center>
			<span class="subheading">Ako imate bilo kakvih pitanja, ostavite nam email.

</span>

     {% load crispy_forms_tags %}
		<center><form method="post" action="#" id="contactform">
			{% csrf_token %}
			
			{{form|crispy}}
			<button type="submit", name="save">Posalji!</button>
				</form></center>

        </div>
        </div>
</div>
<footer>
	<div class="row">
		<div class="large-6 columns">
			<ul class="inline-list">
			  <li class="copyright">2020@ BlueCloud IT</a></li>
			 
  			</ul>
		</div>
		<div class="large-6 columns">
			<ul class="inline-list social-media right">
				<li><a href="http://www.facebook.com/EGrappler" class="icon icon-facebook"></a></li>
				<li><a href="htp://twitter.com/egrappler" class="icon icon-twitter"></a></li>
				<li><a href="https://plus.google.com/102572598506883739879/posts" class="icon icon-googleplus"></a></li>
			</ul>
		</div>
	</div>
</footer>			
			
  <script type="text/javascript" src="{% static 'js/jquery-1.8.2.min.js' %}"></script>
  <script type="text/javascript" src="{% static '../wp-content/themes/piha/js/top-bar.js' %}" ></script>
  <script type="text/javascript" src="{% static '../wp-content/themes/piha/js/bsa-ads.js' %}" ></script>
  <script type="text/javascript" src="{% static 'js/foundation.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/functions.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery.nicescroll.js' %}"></script>
  <script src="{% static 'js/jquery.localscroll-1.2.7.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/jquery.scrollTo-1.4.3.1.js' %}" type="text/javascript"></script>
  <link rel="stylesheet" href="{% static 'css/flexslider.css' %}"> <!-- Flex slider -->
  <script src="{% static 'js/jquery.flexslider.js' %}" type="text/javascript"></script><!-- Flex slider -->
  <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
  <!--Dynamically creates analytics markup-->

</body>
</html>